<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>File Explorer</title>

        <script src="http://localhost:3001/js/api.js"></script>

        <style>
            @font-face {
                font-family: "Poppins";
                src: url("/file/sys/apps/file_explorer/fonts/Poppins-Regular.ttf") format("truetype");
            }

            body {
                font-family: "Poppins";
                overflow: hidden;
            }
            
            #quick-access {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 5px;
                padding-right: 5px;
                width: 150px;
                height: 100%;
                background-color: #181818;
                border-top-right-radius: 10px;
            }

            .quick-link {
                display: block;
                padding: 5px;
                width: calc(100% - 10px);
                background-color: transparent;
                color: white;
                border-radius: 10px;
                text-align: center;
                transition: 0.2s;
                user-select: none;
            }

            .quick-link:hover {
                background-color: #282828;
            }

            .quick-link:first-of-type {
                margin-top: 20%;
            }

            .quick-link:not(:first-of-type) {
                margin-top: 10px;
            }

            input[type=text] {
                margin-top: 0;
                margin-left: 250px;
                width: 50%;
                padding: 10px;
                color: white;
                background-color: #181818;
                border: 1px none white;
                border-radius: 10px;
                box-sizing: border-box;
                font-size: 18px;
            }
        </style>
    </head>

    <body>
        <div id="quick-access">
            <a class="quick-link" id="quick-home">Home</a>
            <a class="quick-link" id="quick-desktop">Desktop</a>
            <a class="quick-link" id="quick-documents">Documents</a>
            <a class="quick-link" id="quick-downloads">Downloads</a>
            <a class="quick-link" id="quick-music">Music</a>
            <a class="quick-link" id="quick-pictures">Pictures</a>
            <a class="quick-link" id="quick-videos">Videos</a>
        </div>
        <input type="text">
        <div id="explorer-view">
            
        </div>
    </body>
</html>