<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Filo</title>

        <style>
            @font-face {
                font-family: "Poppins";
                src: url("/fonts/Poppins-Regular.ttf") format("truetype");
            }

            @font-face {
                font-family: "Poppins-Medium";
                src: url("/fonts/Poppins-Medium.ttf") format("truetype");
            }

            body {
                overflow: hidden;
                font-family: "Poppins";
            }

            #wallpaper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }

            #wallpaper img {
                width: 100%;
                height: auto;
                user-select: none;
            }

            .notify {
                position: absolute;
                top: 20px;
                right: -400px;
                width: 350px;
                height: 200px;
                background-color: #282828;
                border-radius: 10px;
                box-shadow:
                    0 6px 8px rgba(0, 0, 0, 0.5),
                    6px 0 8px rgba(0, 0, 0, 0.5),
                    0 -6px 8px rgba(0, 0, 0, 0.5),
                    -6px 0 8px rgba(0, 0, 0, 0.5);
                color: white;
                font-size: 18px;
                transition: 0.2s;
                z-index: 1000;
            }

            .notify-close {
                display: block;
                margin-top: 15px;
                margin-right: 15px;
                padding: 5px;
                width: 15px;
                height: 15px;
                border-radius: 10px;
                float: right;
                transition: 0.2s;
            }

            .notify-close:hover {
                background-color: #181818;
            }

            .notify-close img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: auto;
            }

            .notify-title {
                display: block;
                margin-top: 20px;
                margin-left: 20px;
                user-select: none;
            }

            .notify-body {
                display: -webkit-box;
                margin-top: 10px;
                margin-left: 20px;
                margin-right: 20px;
                height: 80px;
                line-clamp: 3;
                -webkit-line-clamp: 3; /* Number of lines to show */
                -webkit-box-orient: vertical;
                overflow: hidden; /* Hide overflowed text */
                text-overflow: ellipsis;
                user-select: none;
            }

            .notify-action {
                display: block;
                position: absolute;
                left: 10%;
                bottom: 10px;
                padding: 5px;
                width: 80%;
                background-color: black;
                border-radius: 10px;
                text-align: center;
                transition: 0.2s;
                user-select: none;
            }

            .notify-action:hover{
                background-color: #005f9e;
            }

            #taskbar {
                display: none;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 60px;
                background-color: #282828;
                z-index: 1000;
                user-select: none;
            }

            #taskbar p {
                position: absolute;
                top: 0;
                right: 20px;
                padding-top: 3px;
                color: white;
                text-align: center;
                font-size: 18px;
                font-family: "Poppins-Medium";
                line-height: 1;
                user-select: none;
            }

            #taskbar-apps {
                position: absolute;
                left: 40px;
                width: 80%;
            }

            .taskbar-app {
                display: inline-block;
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                width: 50px;
                height: 50px;
                vertical-align: top;
            }

            .taskbar-app img {
                width: 80%;
                height: auto;
            }

            #show-signin {
                display: block;
                position: absolute;
                top: 8px;
                right: 250px;
                width: 30px;
                height: 30px;
            }

            #show-signin img {
                width: 100%;
                height: auto;
                padding: 5px;
                background-color: black;
                border-radius: 50%;
            }

            #tooltip {
                display: block;
                position: absolute;
                padding: 8px;
                color: white;
                background-color: #282828;
                border-radius: 10px;
                box-shadow: 
                    0 -6px 8px rgba(0, 0, 0, 0.5),
                    0 6px 8px rgba(0, 0, 0, 0.5),
                    -6px 0 8px rgba(0, 0, 0, 0.5),
                    6px 0 8px rgba(0, 0, 0, 0.5);
                text-align: center;
                font-size: 18px;
                font-family: "Poppins-Medium";
                line-height: 1;
                user-select: none;
                transform: translateX(-50%);
                transition: opacity 0.3s;
                opacity: 0;
                z-index: 1001;
            }

            #user-signin {
                display: block;
                position: absolute;
                top: 0;
                left: 200%;
                width: 60%;
                height: 80%;
                color: white;
                background-color: #282828;
                border-radius: 10px;
                box-shadow: 
                    0 -6px 8px rgba(0, 0, 0, 0.5),
                    0 6px 8px rgba(0, 0, 0, 0.5),
                    -6px 0 8px rgba(0, 0, 0, 0.5),
                    6px 0 8px rgba(0, 0, 0, 0.5);
                text-align: center;
                font-size: 18px;
                font-family: "Poppins-Medium";
                line-height: 1;
                user-select: none;
                transition: opacity 0.3s;
                opacity: 0;
                z-index: 1000;
            }

            #hide-signin {
                display: block;
                margin-top: 15px;
                margin-right: 15px;
                padding: 5px;
                width: 15px;
                height: 15px;
                border-radius: 10px;
                float: right;
                transition: 0.2s;
            }

            #hide-signin:hover {
                background-color: #181818;
            }

            #hide-signin img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: auto;
            }

            #user-signin h2 {
                padding-top: 40px;
            }

            #signin-profile {
                display: block;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                padding: 30px;
                width: 10%;
                height: auto;
                background-color: black;
                border-radius: 50%;
            }

            #user-signin label {
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            #user-signup {
                display: block;
                position: absolute;
                top: 0;
                left: 200%;
                width: 60%;
                height: 85%;
                color: white;
                background-color: #282828;
                border-radius: 10px;
                box-shadow: 
                    0 -6px 8px rgba(0, 0, 0, 0.5),
                    0 6px 8px rgba(0, 0, 0, 0.5),
                    -6px 0 8px rgba(0, 0, 0, 0.5),
                    6px 0 8px rgba(0, 0, 0, 0.5);
                text-align: center;
                font-size: 18px;
                font-family: "Poppins-Medium";
                line-height: 1;
                user-select: none;
                transition: opacity 0.3s;
                opacity: 0;
                z-index: 1000;
            }

            #hide-signup {
                display: block;
                margin-top: 15px;
                margin-right: 15px;
                padding: 5px;
                width: 15px;
                height: 15px;
                border-radius: 10px;
                float: right;
                transition: 0.2s;
            }

            #hide-signup:hover {
                background-color: #181818;
            }

            #hide-signup img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: auto;
            }

            #user-signup h2 {
                padding-top: 40px;
            }

            #signup-profile {
                display: block;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                padding: 30px;
                width: 10%;
                height: auto;
                background-color: black;
                border-radius: 50%;
            }

            #user-signup label {
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            input[type=text], input[type=email], input[type=password] {
                width: 60%;
                padding: 10px;
                color: white;
                background-color: #181818;
                border: 1px none white;
                border-radius: 10px;
                box-sizing: border-box;
                font-size: 18px;
            }

            input[type=text], input[type=email]:focus, input[type=password]:focus {
                outline: none;
            }

            button[type=submit] {
                margin-top: 20px;
                padding: 10px;
                width: 100px;
                color: white;
                background-color: black;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                font-family: "Poppins";
                transition: 0.2s;
            }

            button[type=submit]:hover {
                background-color: #005f9e;
            }

            #show-signup {
                display: block;
                margin-top: 20px;
            }

            .window {
                position: absolute;
                background-color: #282828;
                border-radius: 10px;
                box-shadow: 
                    0 -6px 8px rgba(0, 0, 0, 0.5),
                    0 6px 8px rgba(0, 0, 0, 0.5),
                    -6px 0 8px rgba(0, 0, 0, 0.5),
                    6px 0 8px rgba(0, 0, 0, 0.5);
                overflow: hidden;
            }

            .window iframe {
                display: block;
                position: absolute;
                top: 40px;
                left: 0;
                width: 100%;
                height: calc(100% - 40px);
                border: none;
            }

            .win-resize-top {
                display: block;
                position: absolute;
                top: 0;
                left: 10px;
                width: calc(100% - 20px);
                height: 5px;
                background-color: transparent;
                z-index: 1000;
                cursor: n-resize;
            }

            .win-resize-left {
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                width: 5px;
                height: calc(100% - 20px);
                background-color: transparent;
                z-index: 1000;
                cursor: w-resize;
            }

            .win-resize-tl {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                z-index: 1000;
                cursor: nw-resize;
            }

            .win-resize-tr {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                z-index: 1000;
                cursor: ne-resize;
            }

            .win-resize-right {
                display: block;
                position: absolute;
                top: 10px;
                right: 0;
                width: 5px;
                height: calc(100% - 20px);
                background-color: transparent;
                z-index: 1000;
                cursor: e-resize;
            }

            .win-resize-bl {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                z-index: 1000;
                cursor: sw-resize;
            }

            .win-resize-br {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                z-index: 1000;
                cursor: se-resize;
            }

            .win-resize-bottom {
                display: block;
                position: absolute;
                left: 10px;
                bottom: 0;
                width: calc(100% - 20px);
                height: 5px;
                background-color: transparent;
                z-index: 1000;
                cursor: s-resize;
            }

            .win-title {
                display: block;
                position: absolute;
                top: -7px;
                left: 20px;
                height: 20px;
                color: white;
                font-size: 18px;
                line-height: 1;
                user-select: none;
            }

            .win-close {
                display: block;
                position: absolute;
                top: 7px;
                right: 7px;
                width: 20px;
                height: 20px;
                padding: 3px;
                border-radius: 50%;
                transition: 0.2s;
                user-select: none;
            }

            .win-close:hover {
                background-color: #181818;
            }

            .win-close img {
                margin-top: auto;
                margin-left: 50%;
                margin-right: 0;
                margin-bottom: auto;
                width: 60%;
                height: auto;
                transform: translateX(-50%);
            }

            .win-max {
                display: block;
                position: absolute;
                top: 7px;
                right: 35px;
                width: 20px;
                height: 20px;
                padding: 3px;
                border-radius: 50%;
                transition: 0.2s;
                user-select: none;
            }

            .win-max:hover {
                background-color: #181818;
            }

            .win-max img {
                margin-top: auto;
                margin-left: 50%;
                margin-right: 0;
                margin-bottom: auto;
                width: 60%;
                height: auto;
                transform: translate(-50%, -5%);
            }

            .win-min {
                display: block;
                position: absolute;
                top: 7px;
                right: 63px;
                width: 20px;
                height: 20px;
                padding: 3px;
                border-radius: 50%;
                transition: 0.2s;
                user-select: none;
            }

            .win-min:hover {
                background-color: #181818;
            }

            .win-min img {
                margin-top: auto;
                margin-left: 50%;
                margin-right: 0;
                margin-bottom: auto;
                width: 60%;
                height: auto;
                transform: translate(-50%, 30%);
            }

            .win-left-resizer {
                position: absolute;
                top: 2%;
                left: 0;
                width: 5px;
                height: 96%;
                background-color: black;
            }
        </style>
    </head>

    <body>
        <div id="wallpaper">
            <img id="wallpaperImg" src="/wallpaper" draggable="false">
        </div>

        <div class="notify" id="notify">
            <a class="notify-close" id="notify-close" onclick="closeNotify()"><img src="/icons/close.svg"></a>
            <b class="notify-title" id="notify-title"></b>
            <p class="notify-body" id="notify-body"></p>
            <a class="notify-action" id="notify-action"></a>
        </div>

        <div id="taskbar">
            <div id="taskbar-apps"></div>
            <a id="show-signin" onclick="showLogin()">
                <img src="/icons/profile.svg">
            </a>
            <p id="clock">TIME</p>
        </div>

        <div id="user-signin">
            <a id="hide-signin" onclick="hideLogin()">
                <img src="/icons/close.svg">
            </a>
            <h2>Sign In</h2>
            <img id="signin-profile" src="/icons/profile.svg">
            <form id="signin-form" action="/login" method="post">
                <label for="email">Email</label>
                <input type="email" id="signin-email" name="email" required>
                <br><br>
                <label for="password">Password</label>
                <input type="password" id="signin-password" name="password" required>
                <br><br>
                <button type="submit">Log In</button>
            </form>
            <a id="show-signup" onclick="showSignup()"><b>Create a free account</b></a>
        </div>

        <div id="user-signup">
            <a id="hide-signup" onclick="hideSignup()">
                <img src="/icons/close.svg">
            </a>
            <h2>Sign Up</h2>
            <img id="signup-profile" src="/icons/profile.svg">
            <form id="signup-form" action="/signup" method="post">
                <label for="username">Username</label>
                <input type="text" id="signup-username" name="username" required>
                <br><br>
                <label for="email">Email</label>
                <input type="email" id="signup-email" name="email" required>
                <br><br>
                <label for="password">Password</label>
                <input type="password" id="signup-password" name="password" required>
                <br><br>
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div id="tooltip"></div>

        <script>
            const wallpaper = document.getElementById("wallpaper");
            const wallpaperImg = document.getElementById("wallpaperImg");

            const notify = document.getElementById("notify");
            const notifyClose = document.getElementById("notify-close");
            const notifyTitle = document.getElementById("notify-title");
            const notifyBody = document.getElementById("notify-body");
            const notifyAction = document.getElementById("notify-action");

            const taskbar = document.getElementById("taskbar");
            const taskbarApps = document.getElementById("taskbar-apps");

            const clock = document.getElementById("clock");

            const userSignin = document.getElementById("user-signin");
            const showSignin = document.getElementById("show-signin");

            const userSignup = document.getElementById("user-signup");

            const tooltip = document.getElementById("tooltip");

            let isNotifying = false;
            let notifyQueue = [];
            let currNotify = null;

            let windows = [];

            let offsetX = 0;
            let offsetY = 0;
            let offsetW = 0;
            let offsetH = 0;

            let currZ = 1;

            window.currWinX = 100;
            window.currWinY = 100;

            let viewW = window.innerWidth;
            let viewH = window.innerHeight;

            function delay(time) {
                return new Promise(resolve => setTimeout(resolve, time));
            }

            async function notifyLoop() {
                while (notifyQueue.length > 0) {
                    currNotify = notifyQueue.shift();

                    notifyTitle.textContent = currNotify.notifTitle;
                    notifyBody.textContent = currNotify.notifBody;
                    notifyAction.onclick = null;
                    notifyClose.onclick = null;

                    if (currNotify.notifAct) {
                        notifyAction.style.display = "block";
                        notifyAction.textContent = currNotify.notifActTxt;
                        notifyAction.onclick = function() {
                            currNotify.notifAct();
                            resolvePromise();
                        };
                    } else {
                        notifyAction.style.display = "none";
                    }

                    notify.style.right = "20px";
                    isNotifying = true;

                    await new Promise(resolve => {
                        function resolvePromise() {
                            closeNotify();
                            setTimeout(resolve, 300);
                        }

                        notifyClose.onclick = resolvePromise;

                        if (currNotify.notifAct) {
                            notifyAction.onclick = function() {
                                currNotify.notifAct();
                                resolvePromise();
                            };
                        }
                    });

                    await delay(300);
                    closeNotify();
                    await delay(100);
                }

                isNotifying = false;
                currNotify = null;
            }

            window.showNotify = function(title, body, actionText, action) {
                window.notifyFunc = action;
                notifyQueue.push({ notifTitle: title, notifBody: body, notifActTxt: actionText, notifAct: window.notifyFunc });

                if (!isNotifying) {
                    notifyLoop();
                }
            }

            window.closeNotify = function() {
                notify.style.right = "-400px";

                if (currNotify) {
                    const index = notifyQueue.indexOf(currNotify);

                    if (index > -1) {
                        notifyQueue.splice(index, 1);
                    }

                    currNotify = null;
                }
            }

            window.createWin = function(appId, x, y, width, height, isMax) {
                let uuid = Math.floor(Math.random() * 1001);
                while (windows.some(win => win.uid === uuid)) {
                    uuid = Math.floor(Math.random() * 1001);
                }

                const win = document.createElement("div");
                win.id = "win-" + uuid;
                win.className = "window";
                win.style.top = y + "px";
                win.style.left = x + "px";
                win.style.width = width + "px";
                win.style.height = height + "px";
                win.style.zIndex = currZ;

                win.dataset.currX = x;
                win.dataset.currY = y;
                win.dataset.currW = width;
                win.dataset.currH = height;
                win.dataset.canDrag = "true";
                win.dataset.isDragging = "false";
                win.dataset.canResize = "true";
                win.dataset.isResizing = "false";
                win.dataset.isMax = "false";

                const resizeTop = document.createElement("div");
                resizeTop.id = "resize-top-" + uuid;
                resizeTop.className = "win-resize-top";
                resizeTop.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetY = event.clientY - win.dataset.currY;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "n-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, win.dataset.currX, event.pageY - offsetY, win.dataset.currW, winRect.bottom - event.pageY);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                };
                win.appendChild(resizeTop);

                const resizeLeft = document.createElement("div");
                resizeLeft.id = "resize-left-" + uuid;
                resizeLeft.className = "win-resize-left";
                resizeLeft.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetX = event.clientX - win.dataset.currX;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "w-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, event.pageX - offsetX, win.dataset.currY, winRect.right - event.pageX, win.dataset.currH);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                };
                win.appendChild(resizeLeft);

                const resizeTL = document.createElement("div");
                resizeTL.id = "resize-tl-" + uuid;
                resizeTL.className = "win-resize-tl";
                resizeTL.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetX = event.clientX - win.dataset.currX;
                        offsetY = event.clientY - win.dataset.currY;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "nw-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, event.pageX - offsetX, event.pageY - offsetY, winRect.right - event.pageX, winRect.bottom - event.pageY);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                }
                win.appendChild(resizeTL);

                const resizeBL = document.createElement("div");
                resizeBL.id = "resize-bl-" + uuid;
                resizeBL.className = "win-resize-bl";
                resizeBL.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetX = event.clientX - win.dataset.currX;
                        offsetY = event.clientY - win.dataset.currY;
                        offsetH = event.clientY - win.dataset.currH;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "sw-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, event.pageX - offsetX, win.dataset.currY, winRect.right - event.pageX, event.pageY - offsetH);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                }
                win.appendChild(resizeBL);

                const resizeRight = document.createElement("div");
                resizeRight.id = "resize-right-" + uuid;
                resizeRight.className = "win-resize-right";
                resizeRight.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetW = event.clientX - win.dataset.currW;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "e-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, win.dataset.currX, win.dataset.currY, event.pageX - offsetW, win.dataset.currH);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                };
                win.appendChild(resizeRight);

                const resizeTR = document.createElement("div");
                resizeTR.id = "resize-tr-" + uuid;
                resizeTR.className = "win-resize-tr";
                resizeTR.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetY = event.clientY - win.dataset.currY;
                        offsetW = event.clientX - win.dataset.currW;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "ne-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, win.dataset.currX, event.pageY - offsetY, event.pageX - offsetW, winRect.bottom - event.pageY);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                }
                win.appendChild(resizeTR);

                const resizeBR = document.createElement("div");
                resizeBR.id = "resize-br-" + uuid;
                resizeBR.className = "win-resize-br";
                resizeBR.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetX = event.clientX - win.dataset.currX;
                        offsetY = event.clientY - win.dataset.currY;
                        offsetW = event.clientX - win.dataset.currW;
                        offsetH = event.clientY - win.dataset.currH;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "se-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, win.dataset.currX, win.dataset.currY, event.pageX - offsetW, event.pageY - offsetH);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                }
                win.appendChild(resizeBR);

                const resizeBottom = document.createElement("div");
                resizeBottom.id = "resize-bottom-" + uuid;
                resizeBottom.className = "win-resize-bottom";
                resizeBottom.onmousedown = function(event) {
                    if (win.dataset.canResize === "true") {
                        const winRect = win.getBoundingClientRect();
                        offsetH = event.clientY - win.dataset.currH;
                        application.style.pointerEvents = "none";
                        win.dataset.isResizing = "true";

                        document.body.style.cursor = "s-resize";

                        function onMouseMoveWin(event) {
                            setWinGeometry(win.id, win.dataset.currX, win.dataset.currY, win.dataset.currW, event.pageY - offsetH);
                        }

                        document.addEventListener("mousemove", onMouseMoveWin);
                    }

                    document.addEventListener("mouseup", function() {
                        document.removeEventListener("mousemove", onMouseMoveWin);

                        document.body.style.cursor = "default";
                        application.style.pointerEvents = "auto";
                        win.dataset.isResizing = "false";
                    }, { once: true });
                };
                win.appendChild(resizeBottom);

                const title = document.createElement("p");
                title.id = "title-" + uuid;
                title.className = "win-title";
                win.appendChild(title);

                const clsBtn = document.createElement("a");
                clsBtn.id = "cls-" + uuid;
                clsBtn.className = "win-close";
                clsBtn.onclick = function() {
                    stopApp(appId, uuid);
                };
                win.appendChild(clsBtn);

                const clsImg = document.createElement("img");
                clsImg.src = "/icons/close.svg";
                clsBtn.appendChild(clsImg);

                const maxBtn = document.createElement("a");
                maxBtn.id = "max-" + uuid;
                maxBtn.className = "win-max";
                maxBtn.onclick = function() {
                    maxWin("win-" + uuid);
                };
                win.appendChild(maxBtn);

                const maxImg = document.createElement("img");
                maxImg.src = "/icons/max.svg";
                maxBtn.appendChild(maxImg);

                const minBtn = document.createElement("a");
                minBtn.id = "min-" + uuid;
                minBtn.className = "win-min";
                win.appendChild(minBtn);

                const minImg = document.createElement("img");
                minImg.src = "/icons/min.svg";
                minBtn.appendChild(minImg);

                const application = document.createElement("iframe");
                application.id = "app-" + uuid;
                application.src = "/app/" + appId + "/" + uuid;

                application.onload = () => {
                    const appDoc = application.contentDocument || application.contentWindow.document;

                    appDoc.addEventListener("mousedown", function() {
                        topWin(win);
                    });

                    title.innerText = appDoc.title;
                };

                win.appendChild(application);

                document.body.appendChild(win);

                windows.push({
                    id: win.id,
                    uid: uuid,
                    app: appId,
                    zIndex: currZ
                });

                if (isMax) {
                    maxWin(win.id);
                }

                currZ++;

                if (currWinX >= 300) {
                    currWinX = 100;
                    currWinY = 100;
                } else {
                    currWinX += 20;
                    currWinY += 20;
                }
            }

            window.stopApp = function(appId, uuid) {
                fetch("/stop-app/" + appId + "/" + uuid, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => response.text())
                .then(data => {
                    if (data != "success") {
                        console.error("Failed to close app: ", data);
                    }

                    closeWin("win-" + uuid);
                })
                .catch(error => console.error("Error: ", error));
            }

            function closeWin(winId) {
                const currWin = document.getElementById(winId);

                if (currWin) {
                    topWin(currWin);

                    currWin.style.transition = "0.3s";
                    currWin.style.transform = "scale(0.8)";
                    currWin.style.opacity = 0;

                    currWin.addEventListener("transitionend", delWin, { once: true });

                    function delWin(event) {
                        currWin.remove();

                        const winPair = windows.find(win => win.id === currWin.id);
                        const index = windows.indexOf(winPair);

                        windows.splice(index, 1);
                    }
                }
            }

            window.maxWin = function(winId) {
                const currWin = document.getElementById(winId);
                const uuid = winId.slice(4);
                const resizeTop = document.getElementById("resize-top-" + uuid);
                const resizeLeft = document.getElementById("resize-left-" + uuid);
                const resizeTL = document.getElementById("resize-tl-" + uuid);
                const resizeBL = document.getElementById("resize-bl-" + uuid);
                const resizeRight = document.getElementById("resize-right-" + uuid);
                const resizeTR = document.getElementById("resize-tr-" + uuid);
                const resizeBR = document.getElementById("resize-br-" + uuid);
                const resizeBottom = document.getElementById("resize-bottom-" + uuid);

                if (currWin) {
                    if (currWin.dataset.isMax === "true") {
                        resizeTop.style.display = "block";
                        resizeLeft.style.display = "block";
                        resizeTL.style.display = "block";
                        resizeBL.style.display = "block";
                        resizeRight.style.display = "block";
                        resizeTR.style.display = "block";
                        resizeBR.style.display = "block";
                        resizeBottom.style.display = "block";
                        currWin.style.left = currWin.dataset.currX + "px";
                        currWin.style.top = currWin.dataset.currY + "px";
                        currWin.style.width = currWin.dataset.currW + "px";
                        currWin.style.height = currWin.dataset.currH + "px";
                        currWin.style.borderRadius = "10px";
                        currWin.style.boxShadow = "0 -6px 8px rgba(0, 0, 0, 0.5), 0 6px 8px rgba(0, 0, 0, 0.5), -6px 0 8px rgba(0, 0, 0, 0.5), 6px 0 8px rgba(0, 0, 0, 0.5)";
                        currWin.dataset.isMax = "false";
                        currWin.dataset.canDrag = "true";
                        currWin.dataset.canResize = "true";
                    } else if (currWin.dataset.isMax === "false") {
                        resizeTop.style.display = "none";
                        resizeLeft.style.display = "none";
                        resizeTL.style.display = "none";
                        resizeBL.style.display = "none";
                        resizeRight.style.display = "none";
                        resizeTR.style.display = "none";
                        resizeBR.style.display = "none";
                        resizeBottom.style.display = "none";
                        currWin.style.left = 0;
                        currWin.style.top = 0;
                        currWin.style.width = "100%";
                        currWin.style.height = "calc(100% - 60px)";
                        currWin.style.borderRadius = 0;
                        currWin.style.boxShadow = "none";
                        currWin.dataset.isMax = "true";
                        currWin.dataset.canDrag = "false";
                        currWin.dataset.canResize = "false";
                    }

                    topWin(currWin);
                }
            }

            window.setWinGeometry = function(winId, x, y, w, h) {
                const currWin = document.getElementById(winId);

                if (currWin) {
                    if (currWin.dataset.isMax === "true") {
                        maxWin(winId);
                    }

                    currWin.style.left = x + "px";
                    currWin.style.top = y + "px";
                    currWin.style.width = w + "px";
                    currWin.style.height = h + "px";
                    currWin.dataset.currX = x;
                    currWin.dataset.currY = y;
                    currWin.dataset.currW = w;
                    currWin.dataset.currH = h;

                    topWin(currWin);
                }
            }

            function topWin(win) {
                for (let i = 0; i < windows.length; i++) {
                    const presWin = document.getElementById(windows[i].id);

                    if (presWin != win && presWin.style.zIndex > win.style.zIndex) {
                        presWin.style.zIndex--;
                    }
                }

                win.style.zIndex = currZ;
            }

            document.addEventListener("mousedown", function(event) {
                let currWin = event.target;
                const application = currWin.getElementsByTagName("iframe")[0];

                if (windows.some(win => win.id === currWin.id)) {
                    if (currWin.style.zIndex < currZ) {
                        topWin(currWin);
                    }

                    if (currWin.dataset.canDrag === "true") {
                        offsetX = event.clientX - currWin.dataset.currX;
                        offsetY = event.clientY - currWin.dataset.currY;

                        currWin.dataset.isDragging = "true";
                        application.style.pointerEvents = "none";
                    }
                }
            });

            document.addEventListener("mousemove", function(event) {
                let currWin = event.target;

                if (windows.some(win => win.id === currWin.id) && currWin.dataset.isDragging === "true") {
                    if (event.pageY - offsetY < 0) {
                        currWin.style.top = 0;
                    } else {
                        currWin.style.top = event.pageY - offsetY + "px";
                    }

                    currWin.style.left = event.pageX - offsetX + "px";
                    currWin.dataset.currX = event.pageX - offsetX;
                    currWin.dataset.currY = event.pageY - offsetY;
                } else if (windows.some(win => win.id === currWin.parentElement.id) && currWin.parentElement.dataset.isResizing === "true") {
                    currWin = currWin.parentElement;
                    currWin.style                    
                }
            });

            document.addEventListener("mouseup", function(event) {
                const currWin = event.target;
                const application = currWin.getElementsByTagName("iframe")[0];

                if (windows.some(win => win.id === currWin.id)) {
                    currWin.dataset.isDragging = "false";
                    application.style.pointerEvents = "auto";
                }
            });

            window.addTooltip = function(object, text) {
                object.onmouseenter = function() {
                    const objRect = object.getBoundingClientRect();

                    tooltip.style.opacity = 1;
                    tooltip.innerText = text;
                    tooltip.style.left = objRect.left + (objRect.width / 2) + "px";
                    tooltip.style.top = objRect.top - 50 + "px";
                }

                object.onmouseleave = function() {
                    tooltip.style.opacity = 0;
                }
            }
            
            function updateWallpaper() {
                wallpaperImg.src = "/wallpaper";
            }

            async function updateTaskbar() {
                const response = await fetch("/api/mem/readNode/taskbar");
                const result = await response.json();

                fetch("/api/mem/readNode/taskbar", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message != "success") {
                        console.error("Failed to close app: ", data);
                    }

                    for (let i = 0; i < result.node.length; i++) {
                        const appId = result.node[i].appId;
                        console.log("Taskbar: ", result.node[i]);

                        const taskbarApp = document.createElement("a");
                        taskbarApp.className = "taskbar-app";
                        taskbarApp.id = "taskbar-" + appId;
                        taskbarApp.draggable = false;
                        taskbarApp.onclick = function() {
                            createWin(appId, currWinX, currWinY, 600, 400, false);
                        };

                        const taskbarAppImg = document.createElement("img");
                        taskbarAppImg.id = "taskbar-img-" + appId;
                        taskbarAppImg.src = "/app-info/" + appId + "/icon";
                        taskbarAppImg.draggable = false;
                        taskbarApp.appendChild(taskbarAppImg);

                        taskbarApps.appendChild(taskbarApp);

                        fetch("/app-info/" + appId)
                            .then(response => response.json())
                            .then(data => {
                                console.log("App Info: ", data);
                                const appRect = taskbarApp.getBoundingClientRect();
                                addTooltip(taskbarApp, data.appName);
                            })
                            .catch(error => console.error("Error: ", error));
                    }

                    taskbar.style.display = "block";
                })
                .catch(error => console.error("Error: ", error));
            }

            window.showLogin = function() {
                userSignin.style.top = "calc(10% - 40px)";
                userSignin.style.left = "20%";
                userSignin.style.opacity = 1;
            }

            function hideLogin() {
                userSignin.style.opacity = 0;
                userSignin.addEventListener("transitionend", closeLogin, { once: true });

                function closeLogin() {
                    userSignin.style.top = 0;
                    userSignin.style.left = "200%";
                }
            }

            function showSignup() {
                hideLogin();

                userSignup.style.top = "calc(8% - 40px)";
                userSignup.style.left = "20%";
                userSignup.style.opacity = 1;
            }

            function hideSignup() {
                userSignup.style.opacity = 0;
                userSignup.addEventListener("transitionend", closeSignup, { once: true });

                function closeSignup() {
                    userSignup.style.top = 0;
                    userSignup.style.left = "200%";
                }
            }

            function updateTime() {
                const days = [
                    "Sun",
                    "Mon",
                    "Tue",
                    "Wed",
                    "Thu",
                    "Fri",
                    "Sat"
                ];

                const months = [
                    "Jan",
                    "Feb",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun",
                    "Jul",
                    "Aug",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dec"
                ];

                const now = new Date();
                const day = days[now.getDay()];

                const month = months[now.getMonth()];
                const date = String(now.getDate());

                let hours = now.getHours();
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const period = hours >= 12 ? "PM" : "AM";
                hours = hours % 12 || 12;

                clock.innerHTML = day + " " + month + " " + date + "&nbsp;&nbsp;&nbsp;&nbsp;" + String(hours).padStart(2, "0") + ":" + minutes + " " + period;
            }

            updateTime();
            
            setInterval(updateTime, 1000);

            document.addEventListener("DOMContentLoaded", () => {
                updateTaskbar();

                const showSigninRect = showSignin.getBoundingClientRect();
                addTooltip(showSignin, "Sign In");

                document.getElementById("signin-form").addEventListener("submit", async (event) => {
                    event.preventDefault();

                    const formData = new FormData(event.target);

                    try {
                        const response = await fetch("/login", {
                            method: "POST",
                            body: new URLSearchParams(formData),
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        });

                        if (response.ok) {
                            hideLogin();
                        } else {
                            console.error("User Signin: Form submission failed: ", response.statusText);
                        }
                    } catch (error) {
                        console.error("Error occured: ", error);
                    }
                });

                document.getElementById("signup-form").addEventListener("submit", async (event) => {
                    event.preventDefault();

                    const formData = new FormData(event.target);

                    try {
                        const response = await fetch("/signup", {
                            method: "POST",
                            body: new URLSearchParams(formData),
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        });

                        if (response.ok) {
                            hideSignup();
                        } else {
                            console.error("User Signup: Form submission failed: ", response.statusText);
                        }
                    } catch (error) {
                        console.error("Error occured: ", error);
                    }
                });
            });

            window.addEventListener("resize", function() {
                viewW = window.innerWidth;
                viewH = window.innerHeight;
            });

            window.addEventListener("error", function(event) {
                console.error("Error occurred: ", event.message);
            });

            window.addEventListener('unhandledrejection', (event) => {
                console.error('Unhandled promise rejection:', event.reason);
            });
        </script>
    </body>
</html>